doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/bare.css')
  body
    block header
        nav
            header
                a(href="/")
                    h4 Summer iot 
            ul
                if user
                        li
                            a(href="/create-device") Create a new device
                        li
                            a(href="/devices") My devices
                        li
                            a(href="/account") #{user.username}
                        li
                            a(href="/signout") Sign out
                else
                    li
                        a(href="/register") Register
                    li
                        a(href="/login") Login
                    
        main(style="padding:30px 50px")
            block content
